.menu_wrapper{
  position: fixed;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
  transition-duration: 0.5s;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  border-left: 1px solid #24bf246e;
  border-right: 1px solid #24bf246e;
  border-bottom: 1px solid #24bf246e;
}
.menu_open{
  top: 0;
}
.menu_wrapper:hover{
  top: 0;
}
.menu_surf{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 90%;
  min-width: 50%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
}
.forMobil{
  position: absolute;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  bottom: 5px;
  background-color: red;
  overflow: visible;
  background: url(../img/arrowForMobil.png) center/ 100% no-repeat;
  border: 1px solid white;
  border-radius: 50%;
}
.forMobilIsOpen{
  background: url(../img/arrowForMobil1.png) center/ 100% no-repeat;
}
.menu_surf_elements{
  color: white;
  user-select: none;
  width: auto;
  padding: 3px 30px;
  height: 100%;
  border: 1px solid #24bf246e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
}
.menu_swiped{
  height: 500px;
}
@media (orientation: portrait){
  .forMobil{
    display: block;
  }
  .menu_surf{
    display: none;
  }
}
.menu_surf_Ready{
  display: block;
}
.menu_surf_Ready >div{
  padding: 20px 30px;
}
.menu_surf_elements:hover{
  background-color: #5aa65a6e;
  box-shadow: 0 0 0 1px #5aa65a6e inset, 0 0 0 1px white inset;
}
.progress_bar{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px;
  z-index: 20;
  transition-duration: 0.5s;
}
.progress_indicator{
  position: relative;
  height: 90%;
  width: 0%;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #24bf24;
  opacity: 0.9;
}
.progress_block{
  position: fixed;
  top: 30px;
  left: 30px;
  width: 60px;
  height: 60px;
  z-index: 20;
  border-radius: 50%;
  background: url(../img/progresBlock/progressBlock1.png) center/100% no-repeat;
}
.progress_block img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: fill;
  opacity: 0.8;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.block_hi{
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.hi_logo{
  position: absolute;
  width: 70px;
  height: 70px;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;
}
.hi_logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.block_hi .hi_phon{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
  overflow: hidden;
}
.phon_ton{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.hi_phon .phon_body{
  position: relative;
  width: 500%;
  height: 100%;
}
.phon_elem{
  position: relative;
  float: left;
  height: 100%;
  width: 20%;
}
.phon_elem img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.phon_body:first-child{
  left: 0%;
  transition-duration: 1s;
}
.phon_elemLast:first-child{
  transition-duration: 0s;
}
.block_hi .hi_title{
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  width: 400px;
  height: 50px;
  color: white;
  text-align: center;
  font-family: Arial;
  text-shadow: 0 0 3px black;
  user-select: none;
}
.block_hi .hi_title div.title{
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 5px;
}
.block_hi .hi_title div.subtitle{
  font-size: 25px;
  padding-top: 20px;
  user-select: none;
}
.block_hi .hi_author{
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  width: 220px;
  height: 50px;
  z-index: 5;
  color: #B0B0B0;
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  font-family: Arial;
  user-select: none;
}
