.fixed{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.backToThemain{
  position: fixed;
  width: 80px;
  height: 80px;
  top: 100px;
  right: 10%;
  border-radius: 50%;
  z-index: 20;
  opacity: 0.5;
  background-color: rgba(38, 41, 53, 0.9);
  transition-duration: 0.2s;
  animation-name: backTo;
  animation-duration: 1s;
  animation-delay: 6s;
  animation-iteration-count: 3;
  animation-direction: alternate;
}
@keyframes backTo {
  0%{box-shadow: 0 0 0 #82BA82;}
  50%{box-shadow: 0 0 10px #82BA82;}
  100%{box-shadow: 0 0 0px #82BA82;}
}
.backToThemain img{
  position: relative;
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.backToThemain:hover{
  opacity: 0.8;
}
.main_wrapper{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90%;
  /* border: 1px solid red; */
}
.main_title{
  position: relative;
  left: 0px;
  top: 20px;
  height: 60px;
  width: 300px;
  background-color: rgba(38, 41, 53, 0.7);
  text-shadow: 1px 1px 1px rgba(38, 41, 53, 0.7);
  border-radius: 20px;
  color: white;
  font-size: 22px;
  letter-spacing: 3px;
  font-family: Arial;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px #82BA82;
}
.title_realInvest{
  width: 100%;
}
.text{
  position: relative;
  color: white;
  left: 0px;
  top: 5%;
  min-width: 300px;
  height: auto;
  background-color: rgba(38, 41, 53, 0.7);
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 18px;
  font-family: Arial;
  padding: 20px;
  box-shadow: 1px 1px 3px #82BA82;
  border-radius: 10px;
  text-shadow: 1px 1px 1px rgba(38, 41, 53, 0.7);
}
.text p{
  margin-bottom: 15px;
}
.text p:last-child{
  margin-bottom: 0px;
}
h2{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0 20px;
  position: relative;
  padding-left: 15px;
}
h2::before,
h2::after{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  background-color: #82BA82;
  width: 15px;
  height: 2px;
}
h2::before{
  top: 0;
  transform: rotate(30deg) translateY(6px);
}
h2::after{
  top: 100%;
  transform: rotate(-30deg)translateY(-6px);
}
li{
  padding-left: 20px;
  position: relative;
}
li::before{
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #82BA82;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
ul{
  margin-bottom: 10px;
}
p, h2, ul{
  opacity: 0;
  transition-duration: 0.5s;
}
.important{
  font-weight: bold;
}
